body{
    background-color: rgb(104, 124, 144);
    color: white;
}
.container1{
    border-bottom: ridge;
}
.container1 .row1{
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 10px;
    height: 400px;
}
.titre{
    margin-top: 35px;
}
.liste{
    margin-right: 45px;
}
.text h1 .dev{
    position: relative;
    top: 75px;
}
.yellow{
    color: rgb(255, 255, 0);
}
.text h1 .chmbd{
    height: 150px;
    width: 120px;
    margin-top: 20px;
}
.container1 .row1 ul li{
    list-style: none;
}
.p2{
 font-size: 20px;   
}
.small_picture{
    border-bottom: ridge;
    margin-top: 14px;

}
.small_picture .photo{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-bottom: 20px;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    max-width: 70px;
    height: 80px;
}
.icons{
    margin-top: 15px;
    color: white;
    margin-bottom: 15px;
}
.fab{
    color: white;
}